<div [ngClass]="{hover: hover}" (mouseenter)="hover=true" (mouseout)="hover=false">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <type-selector *ngIf="hasItems(data)" class="add-child" (typeSelected)="onCreateSchema($event)"></type-selector>
      <mat-icon *ngIf="hasItems(data)"
                [ngClass]="{'view-children': true, clickable: true, hidden: !viewChildren}"
                (click)="viewChildren = !viewChildren"
                matTooltip="hide/show Children Schema"
                matTooltipShowDelay="500"
                color="primary">
        keyboard_arrow_down
      </mat-icon>
      <standard-input [(data)]="data" (changeType)="onChangeType($event)" tooltip=""></standard-input>
      <type-selector [buttonlabel]="data.items.type"
                     (typeSelected)="onChangeSubType($event)"
                     tooltip="Change Array SubType"></type-selector>
      <button mat-button
              (click)="viewDetails = !viewDetails"
              matTooltip="Edit Schema details"
              matTooltipShowDelay="500"
              color="primary">
        Edit Details
      </button>
      <mat-icon *ngIf="hasItems(data)"
                class="clickable"
                (click)="onScopeSchema(data)"
                matTooltip="View only this level and below"
                matTooltipShowDelay="500"
                color="primary">
        zoom_in
      </mat-icon>
    </div>
    <mat-icon *ngIf="!data.$root$"
              (click)="onRemoveSchema({data: data})"
              class="clickable"
              matTooltip="Delete Schema"
              matTooltipShowDelay="500"
              color="warn">
      close
    </mat-icon>
  </div>
  <div *ngIf="!data.$root$" [hidden]="!viewDetails">
    <div fxFlex="90" fxLayout="row" fxLayoutAlign="space-between" fxLayoutWrap class="details-inputs">
      <div fxLayout="column">
        <label>Title</label>
        <input type="text" [(ngModel)]="data.title" placeholder="title"/>
      </div>
      <div fxLayout="column">
        <label>Description</label>
        <input type="text" [(ngModel)]="data.description" placeholder="description"/>
      </div>
      <div fxLayout="column">
        <label>Min Items</label>
        <input type="number" [(ngModel)]="data.minItems" placeholder="min Items" min="0"/>
      </div>
      <div fxLayout="column">
        <label>Max Items</label>
        <input type="number" [(ngModel)]="data.maxItems" placeholder="max Items" min="0"/>
      </div>
      <div fxLayout="column">
        <label>Required</label>
        <input type="checkbox" [(ngModel)]="data.required"/>
      </div>
    </div>
  </div>
  <div [hidden]="!viewChildren">
    <mat-card *ngIf="hasItems(data)">
      <div *ngFor="let entity of data.items.properties; let i = index">
        <schema-loader [(data)]="data.items.properties[i]"
                       (createSchema)="onCreateSchema($event)"
                       (changeType)="onChangeType($event)"
                       (changeSubType)="onChangeSubType($event)"
                       (removeSchema)="onRemoveSchema($event)"
                       (scopeSchema)="onScopeSchema($event)">
        </schema-loader>
      </div>
    </mat-card>
  </div>
</div>
